{% extends 'base_orders.html' %}

{% block body %}

{% if cart_list %}
<p>
    {% for cart_item in cart_list %}
        <h1>{{ cart_item.item.category }} - {{ cart_item.item.name }}
            {% if cart_item.item.size %}({{ cart_item.item.size }}){% endif %}
            * {{ cart_item.quantity }} </h1>
        <div>&#8361;{{ cart_item.price }}</div>
        
        {% if cart_item.item.category.name == 'Pizza' %}
            <li>Crust: {{ cart_item.item.pizza.crust }} </li>
            {% if cart_item.toppings.all|length >= 1 %}
                <li>Topping{{ cart_item.toppings.all|pluralize }}: 
                {% for topping in cart_item.toppings.all %}
                    <li>{{ topping.name }}</li>
                {% endfor %}
                </li>
            {% endif %}
        {% elif cart_item.extra %}
            <li>+ Extra Cheese</li>
        {% endif %}
        <form action="{% url 'delete_item' cart_item.id %}" method="POST">
        {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
    {% endfor %}
</p>
<form action="{% url 'order_first' %}", method="POST">
{% csrf_token %}
    <input hidden name="user_id" value="{{ request.user.id }}">
    <input hidden name="count_cart_items" value="{{ cart_list|length }}">
    <input type="submit" value="Place Order">
</form>
{% else %}
    <div>No items in the cart.</div>
{% endif %}

{% endblock %}