{% extends "base_orders.html" %}

{% block head %}
{% load static %}
<script src="{% static 'orders/js/item_detail.js' %}"></script>
{% endblock %}

{% block content %}

<h1>{{ item.name }}</h1>

<form action="{% url 'add_item' item.id %}" method="POST">
{% csrf_token %}
<table class="table">
    <colgroup>
        <col width="50%"></col>
        <col width="50%"></col>
    </colgroup>
    <tbody>

        <!-- If the item has size options, -->
        {% if item.size != '' %}
        <tr>
            <td>Size</td>
            <td>{{ item.size }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>Quantity</td>
            <td><input name="quantity" id="quantity" type="number" value=1 min=1 max=30></td>
        </tr>

        <!-- View toppings for pizza item. (Django template does not support range() function for loop.) -->
        {% if item.pizza.max_toppings == 1 %}
        {% for i in 'i' %}
        <tr>
            <td>Topping {{ forloop.counter }}</td>
            <td><select name="topping{{forloop.counter}}">{% for topping in toppings %}<option value="{{ topping.id }}">{{ topping.name }}</option>{% endfor %}</select></td>
        </tr>
        {% endfor %}
        {% elif item.pizza.max_toppings == 2 %}
        {% for i in 'ii' %}
        <tr>
            <td>Topping {{ forloop.counter }}</td>
            <td><select name="topping{{forloop.counter}}">{% for topping in toppings %}<option value="{{ topping.id }}">{{ topping.name }}</option>{% endfor %}</select></td>
        </tr>
        {% endfor %}
        {% elif item.pizza.max_toppings == 3 %}
        {% for i in 'iii' %}
        <tr>
            <td>Topping {{ forloop.counter }}</td>
            <td><select name="topping{{forloop.counter}}">{% for topping in toppings %}<option value="{{ topping.id }}">{{ topping.name }}</option>{% endfor %}</select></td>
        </tr>
        {% endfor %}
        {% endif %}

        <!-- If the item is of Sub, -->
        {% if item.category.name == 'Sub' %}
        {% for extra in extras %}
        <tr>
            <td>{{ extra.name }} (+<span id="extra_price">{{ extra.price }}</span>)</td>
            <td><input name="extra" value="{{ extra.id }}" id="extra" type="checkbox"></td>
        </tr>
        {% endfor %}
        {% endif %}

        <tr>
            <td>Price</td>
            <td><div id="price">{{ item.price }}</div></td>
        </tr>
        
    </tbody>
</table>
<div class="row justify-content-between">
    <a href="{% url 'index' %}" class="btn btn-outline-info">Go back to menu.</a>
    <input type="submit" value="Add to Cart" class="btn btn-info">
</div>
</form>

{% endblock %}
