{% extends 'base_orders.html' %}

{% block body %}

<h1>Order Detail</h1>

Items
{% for order_item in order.items.all %}
    <li>{{ order_item.item.name }}
    {% if order_item.toppings.all|length >= 1 %}
        with
        {% for topping in order_item.toppings.all %}
            {{ topping.name }}
        {% endfor %}
    {% elif order_item.extra %}
        (+Extra Cheese)
    {% endif %}
    </li>
{% endfor %}
<br>
<li>Subtotal: {{ order.subtotal }}</li>
<li>Contact: {{ order.contact }}</li>
<li>Billing Address: {{ order.billing_address }}</li>
<li>Shipping Address: {{ order.shipping_address }}</li>
<li>Message: {{ order.message }}</li>
<li>Status: {{ order.status }}</li>
<li>Recieved: {{ order.recieved }}</li>

<form action="{% url 'manage_order_detail' order.id %}", method="POST">
{% csrf_token %}
    <input hidden name="order_id" value="{{ order.id }}">
    <select name="status" selected="{{ order.status }}">    
        <option value="Ordered">Ordered</option>
        <option value="On Shipping">On Shipping</option>
        <option value="Delivered">Delivered</option>
    </select>
    <input type="submit" value="Update">
</form>

<a href="{% url 'manage_order' %}">Go back to manage.</a>

{% endblock %}