{% extends "base_orders.html" %}

{% block head %}
{% load static %}
<script src="{% static 'orders/js/order_list.js' %}"></script>
{% endblock %}

{% block content %}

<h1>Order List</h1>
<table class="table">
    <colgroup>
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
    </colgroup>
    <thread>
        <tr>
            <th>Order Placed</th>
            <th>Detail</th>
            <th>Subtotal</th>
            <th>Status</th>
            <th>Complete</th>
        </tr>
    </thread>
    <tbody>
        {% for order in order_list %}
        <tr>
            <td>{{ order.order_time }}</td>
            <td><a href="{% url 'order_detail' order.id %}">Detail</a></td>
            <td>{{ order.subtotal }}</td>
            <td>{{ order.status }}</td>
            <td>
            {% if not order.recieved %}
                <form class="recieved" action="{% url 'order_list' %}", method="POST">
                {% csrf_token %}
                    <button name="recieved" class="btn btn-info" value="{{ order.id }}">Complete order</button>
                </form>
            {% else %}Recieved{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if not order_list %}
<h3>No orders have been made.</h3>
{% endif %}

<div class="row">
    <a href="{% url 'index' %}" class="btn btn-outline-info">Go back to menu.</a>
</div>

{% endblock %}
