{% extends "base_orders.html" %}

{% block content %}

<h1>Order List</h1>

{% if not order_list %}
    <p>No orders have been made.</p>
{% endif %}

{% for order in order_list %}
    <li><a href="{% url 'order_detail' order.id %}">{{ order.order_time }}</a></li>
    {% if not order.recieved %}
        <form action="{% url 'order_list' %}", method="POST">
        {% csrf_token %}
            <button name="recieved" value="{{ order.id }}">Recieved</button>
        </form>
        {% else %}
            Recieved
    {% endif %}
{% endfor %}

<br>
<a href="{% url 'index' %}">Go back to menu.</a>

{% endblock %}