{% extends 'orders/base.html' %}

{% block body %}

<h1>Register</h1>

<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <input name="username" type="text" placeholder="Username" autofocus autocomplete="off">
    <input name="email" type="text" placeholder="Email" autocomplete="off">
    <input name="password" type="password" placeholder="Password" autocomplete="off">
    <input name="confirmation" type="password" placeholder="Password (again)" autocomplete="off">
    <input type="submit" value="Register">
</form>

{% if message %}
<div>{{ message }}</div>
{% endif %}

{% endblock %}